<form {{action "save" on="submit"}}>
  <div>
    <label>
      Date
      {{input type="text" value=model.date}}
    </label>
  </div>
  <div>
    <label>
      Location
      {{view "select"
        class='form-control'
        selection=model.location
        content=model.locations
        prompt="Please select a location"
        optionValuePath="content.id"
        optionLabelPath="content.name"}}

        <a class='btn btn-default' {{action 'addLocation'}}>Add a new location</a>
    </label>
  </div>
  <div class="pairings">
    <h3>Pairings</h3>
    <a class='btn btn-default' {{action 'newPairing'}}>Add a pairing</a>
    {{#each pairing in model.pairings}}
      <div>
        <label>
          Beer
          {{input type="text" value=pairing.beer}}
        </label>
        <label>
          Topic
          {{input type="text" value=pairing.topic}}
        </label>
      </div>
    {{/each}}
  </div>
  <div>
    <input type="submit" value="Save" class="btn btn-primary">
  </div>
</form>
