<h1>Pairings list</h1>

<p>
  {{link-to "New Pairing" "pairings.new" class='btn btn-primary'}}
</p>

{{#if model.length}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Beer
        </th>
        <th>
          Topic
        </th>
        <th>
          Meeting
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each pairing in model}}
        <tr>
          <td>
            {{pairing.beer}}
          </td>
          <td>
            {{pairing.topic}}
          </td>
          <td>
            {{pairing.meeting.date}}
          </td>
          <td>
            {{link-to "Edit" "pairings.edit" pairing class='btn btn-xs btn-info'}}
          </td>
          <td>
            {{link-to "Show" "pairings.show" pairing class='btn btn-xs btn-default'}}
          </td>
          <td>
            <a href="#" {{action "remove" pairing}} class='btn btn-xs btn-danger'>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Pairings found
  </p>
{{/if}}
